@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Playfair Display', serif;
  background: white;
  min-height: 100vh;
  margin: 0;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
} 